// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$primary: #909F43;
$secondary: #495635;
$dark: #59845B;
$light: #E2E4DC;
$succes: #060c10;

$font-family-sans-serif: "Roboto", sans-serif !default;
$font-family-sans-serif: "Raleway", sans-serif !default;



@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here